<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="active">Home</li>
  </ol>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <a ui-sref="categories" class="btn btn-primary btn-lg active" role="button">Our menu categories</a>
  </div>
  <div class="panel-body">
    <!-- or click here... :-) -->
    <a ui-sref="categories">
      <img src="images/asia-food.png" class="img-responsive center-block" alt="restaurant menu" />
    </a>
  </div>
  <div class="panel-footer">
    <a href="#">Home</a>
  </div>
</div>
